@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(purple, black);
    background-attachment: fixed;
    background-position: 0 -100px;
}

main {
    background-color: #ccc;
    width: 355px;
    height: 175px; 
    margin: 100px auto;
    position: relative;
    padding: 30px;
}

.badge {
    width: 96px;
    background-color: #E66357;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.clock {
    background-color: #ebebeb;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    padding: 30px 15px;
    border-radius: 24px;
}